* {
    outline: solid blue 1px;
    font-family: 'Roboto', sans-serif;

    --white: #dcdcdc;
    --withe2: #efefef;
    --black: #292929;
    --black2: #464646;
}

body {
    font-family: Arial, sans-serif;

    margin: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;


    background-color: var(--white);
    color: var(--black2);
    transition: 500ms;

  }

  .centered {
    height: 100vh;
  }
  
  .calculator {
    text-align: center;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  h1 {
    letter-spacing: 3px;
    margin-top: 0.1rem;
    margin-bottom: 1rem;

    cursor: pointer;

    transition: 1000ms;
  }

  h1:hover {
    scale: 1.1;
    transition: 1000ms;
  }

  /* num-column */

  .body {
    display: flex;
  }

  #result {
    font-size: 18px;
    margin-top: 20px;
  }

  .black-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 2px;
    border: solid 1px;
  }
  
  .partial-black-square {
    display: inline-block;
    height: 10px;
    background-color: black;
    margin: 2px;
  }

  .white-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 2px;
    border-color: black;
    border: solid 1px;
  }

  .row {
    display: flex;
    align-items: center;
  }
  
  .black-square,
  .white-square,
  .partial-black-square {
    width: 6px;
    height: 6px;
    margin: 1px;
  }
  
  .black-square {
    background-color: var(--black);
  }
  
  .white-square {
    background-color: var(--withe2);
  }
  
  .partial-black-square {
    background-color: black;
  }

  /* #squares-container {
    max-height: 400px;
    overflow-y: auto;
  } */
  
  .row {
    display: flex;
    align-items: center;
    position: relative;
  }

  .row:nth-child(10),
  .row:nth-child(20),
  .row:nth-child(30),
  .row:nth-child(40),
  .row:nth-child(50),
  .row:nth-child(60),
  .row:nth-child(70),
  .row:nth-child(80) {
    margin-bottom: 4px;
  }

  .number-column {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 5px;
  }
  
  .number-item {
    font-size: 9px;
    height: 10px;
    margin-top: 1px;

    color: var(--black);
  }

  .none {
    display: none;
  }

  .label-row {
      position: absolute;

      font-size: 12px;

      right: -8px;
      width: 1px;
      text-align: left;
  }

.quote {
  max-width: 65%;
  text-align: center;
  margin: .5rem;
}

#pdfButton {

  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: 500ms;

  margin-bottom: 1rem;

  display: none;

}

a:hover {
  scale: 1.1;
  transition: 500ms;
}